*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding-top: 60px;
    min-width: 320px;
    width: 100%;
    font: normal #{$fontSize-small}/#{$lineHeight-base} $font-base;
    color: $text-grey;
    background: $grey-bg;

    @media  all and (max-width: $width-base) {
        font-size: $fontSize-base;
        padding-top: 0;
    }
}
