//Colours should always only appear in this colours.scss

$white: #fff;
$black: #000;
$grey-bg: #ebebeb;
$grey-bg-block: #f2f2f2;
$light-grey: #eee;
$light-orange: #f3edda;
$light-yellow: #ffe190;
$orange: #ffc118;
$green: #8cc445;
$blue: #0b4c98;
$text-grey: #666;
$dark-grey: #333;
$bordo: #8a0026;
$border: #ccc;