//Utilities must use a camel case name, prefixed with a u namespace and should be set in utilities.scss
//e.g. u-pullRight

//Syntax: u-<utilityName>
.u-clearfix:after {
    content: '';
    display: table;
    clear: both;
}
